.page-mailbox {
    .page-title {
        .breadcrumb {
            li:before {
                padding: 0 5px;
                color: #ccc;
                content: "/\00a0";
            }
        }
    }

    .mail_head {
        margin-right: 15px !important;
    }

    .table-mail {
        tr > td {
            padding: 10px;
        }

        tr {
            border-top: 1px solid rgba(0, 0, 0, 0.1);

            &:hover {
                background-color: rgb(247,247,247)
            }
        }

        tr:nth-child(2n + 1) {
            background-color: rgb(247,247,247)
        }
    }

    .mail_list {
        overflow: auto;
    }

    .mail-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-mailbox {
        display: flex;
        align-items: center;
        justify-content: space-between;

        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .mail_head_icon {
            margin-top: 0 !important;
        }
    }

    .pull-left {
        button {
            margin: 5px 5px 0 0;
        }
    }
}
