.crypto-balance {
	.slick-active {
		.coin-box {
			margin: 0 5px;
		}
	}

	.slick-prev,
	.slick-next {
		height: 30px;
		width: 30px;

		&:before {
			color: #b1b1b1;
		}
	}
}

.transaction-status {
	z-index: 1;

	.chart-transaction-status {
		margin-bottom: 20px !important;
	}
}

.chart-total-funds {
	z-index: 1;
}

.dashboard {
	.coin-icon {
		.cc {
			font-size: 45px!important;
		}
		img {
			width: 45px!important;
			margin-left: 7px!important;
		}
	}
}