.form-parkets {
  width: 100%;
	.form-header {
		display: flex;
		width: 100%;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		.text-name {
			color: rgba(0,0,0,.85);
		}  
	}
	.content-packet {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		h4 {
			font-size: 18px;
			margin-top: 0!important;
		}
		p {
			color: #777;
		}

	}
}

.img-affa-wrapper {
	cursor: pointer;
	&:hover {
		.inviewport {
			opacity: 0.8;

		}
	}
}

.ant-collapse-content>.ant-collapse-content-box {
	padding: 10px 0px!important;
}

.form-trash {
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	.box_setting {
		font-size: 17px;
	}
}

.form-add {
	min-height: 167px!important;
}