.form-btn-verify {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center;
  .mr-15 {
    margin-right: 15px!important;
  }
}

.form-approved {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  i {
    margin-right: 10px;
  }
}

.img-approved {
  position: absolute!important;
  top:35% !important;
  width: 60%!important;
  margin-right: 0!important;
  left: 20%;
}

.row-info {
  position: relative;
  .box_setting {
    position: absolute;
    right: 0;
    top: 35%;
  }
}

.form-country-code {
  .form-control {
      display: none;
  }

  .flag-dropdown {
      height: 32px;
  }

  .value-country-code {
      display: block;
      height: 32px;
      width: calc(100% - 40px);
      margin-left: 40px;
      padding-left: 10px;
  }
}