.input-otp {
  max-width: 300px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}


.statistics-box  {
  .coin-system {
    height: 42px;
    width: 42px;
    margin: 10px 0px;
  }
}


.form-otp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  label {
    font-size: 20px;
    font-weight: bold;
  }
}
.auto-margin {
  margin: 0 auto;
}

.box-wallet {
  position: relative;
  .box_setting {
    position: absolute;
    top: 10px;
    right: 10px;
    color:#777
  }
}
.crypto-wallet-address {
  .coin-system {
    height: 27px;
    width: 27px;
  }
}

.form-qr {
  padding: 12px!important;
  display: flex;
  justify-content: center;
}
