.box-group {
  max-width: 100%;
  padding: 10px;
  overflow-x: auto;

  .rank {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
  }

  .box-tree {
    padding-left: 20px;
    // overflow: hidden;
    margin-bottom: 20px;
  }

  .box-branch {
    position: relative;
    margin-bottom: 5px;
    > .box-branch {
      margin-top: 5px;
      margin-left: 55px;

      &.hide {
        display: none;
      }

      &::before{
        content: '';
        position: absolute;
        top: 20px;
        left: -35px;
        width: 35px;
        height: 1px;
        border-bottom: 1px solid #ccc;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: -15px;
      left: -35px;
      height: 150%;
      border-left: 1px solid #ccc;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .dot {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    width: auto;
    height: 40px;
    // padding: 8px 15px 8px 15px;

    color: #464855;
    border-radius: 8px;
    // background: #fff;

    z-index: 10;

    p, span {
      white-space: nowrap;
    }

    .label-rank {
      display: inline-block;
      margin-left: 0px;
      img {
        width: 40px;
        height: 40px;
      }
    }

    .box-plush {
      position: absolute;
      top: 54%;
      left: -28px;
      transform: translateY(-50%);
      background: #fff;
      border-radius: 50%;
      cursor: pointer;
      i {
        color: #464855;
        font-size: 20px;
        font-weight: bold;

        &.hide {
          display: none;
        }
      }
    }
  }

  .active {
    .name, .email, .amount {
      background-color: yellow;
      padding: 4px;
    }
  }
}
