.page-buy-sell {
    .crpto-currency-box {
        cursor: pointer;

        .cc {
            display: flex;
            height: 30px;
            align-items: center;
            justify-content: center;
            margin-bottom: 15px;
        }
    }

    .coin-system {
        width: 30px;
        height: 30px;
        object-fit: cover;
    }
}