
.btn-detail {
  width: 100px;
  display: contents!important;
}

.verification {
  color: #6fc334!important;
  font-size: 20px;
}
.not-verification {
  color: #E91E63!important;
  font-size: 20px;
}

.form-approved {
  .form-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px !important;
    position: relative;

    label {
      margin-bottom: 0px;
    }
    .name-form {
      margin-right: 20px;
      width: 30% !important;
    }
    .cc {
      margin-right: 20px;
    }

    .text-mail {
      width: 60% !important;
    }
    .copy {
      position: absolute;
      right: 0px;
      top: 5%;
      cursor: pointer;
      &:hover {
        color: #1364c2;
      }
    }
  }
}

