.flag-item {
  height: 100%;
  display: flex!important;
  justify-content: flex-start!important;
  align-items: center!important;
  img {
    margin-right: 10px;
  }
}

.form-select-flag {
  .profile {
    img {
      width: 30px;
    }
  }
  .dropdown-menu {
    top: 21px;
    right: 30px;

    left: inherit;
  }
}