<!DOCTYPE html>
<html>

<head>
  <base href="/" />
  <meta name="fragment" content="!">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="App">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Admin</title>
  <meta content="" name="description" />
  <meta content="" name="author" />
  <!-- Favicon -->
  <link rel="icon" type="image/png" href="/assets/images/logo-tosi.png">
  <!-- For iPhone -->
  <link rel="apple-touch-icon" href="/assets/images/logo-tosi.png">
  <!-- For iPhone 4 Retina display -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/logo-tosi.png">
  <!-- For iPad -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/logo-tosi.png">
  <!-- For iPad Retina display -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/logo-tosi.png">

  <!-- CORE CSS FRAMEWORK - START -->
  <link href="/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen" />
  <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="/assets/plugins/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
  <link href="/assets/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
  <link href="/assets/css/animate.min.css" rel="stylesheet" type="text/css" />
  <link href="/assets/css/components.min.css" rel="stylesheet" type="text/css" />
  <link href="/assets/plugins/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" type="text/css" />


  <link href="/assets/fonts/webfont/cryptocoins.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" type="text/css" href="/assets/vendors/cryptocoins/cryptocoins.css">
  <link rel="stylesheet" type="text/css" href="/assets/vendors/cryptocoins/cryptocoins-colors.css">
  <!-- CORE CSS FRAMEWORK - END -->

  <!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - START -->

  <link href="/assets/plugins/jquery-ui/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" media="screen" />

  <!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - END -->

  <!-- CORE CSS TEMPLATE - START -->
  <link href="/assets/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <!-- <div class="preloading">
    <div class="circle"></div>
  </div> -->
  <div class="application" id="application"></div>
  <%= htmlWebpackPlugin.files.webpackManifest %>
  <script src="/assets/js/jquery-1.11.2.min.js"></script>
  <script src="/assets/js/jquery.easing.min.js"></script>
  <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/plugins/pace/pace.min.js"></script>
  <script src="/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
  <script src="/assets/plugins/viewport/viewportchecker.js"></script>
  <script>
    window.jQuery || document.write('<script src="/assets/js/jquery-1.11.2.min.js"><\/script>');
  </script>

  <!-- CORE JS FRAMEWORK - END -->

  <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->

  <script src="/assets/plugins/jquery-ui/smoothness/jquery-ui.min.js"></script>
  <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

  <!-- CORE TEMPLATE JS - START -->
  <script src="/assets/js/scripts.js"></script>
  <!-- END CORE TEMPLATE JS - END -->

  <link rel="stylesheet" type="text/css" charset="UTF-8"
    href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
</body>

</html>