.component-CodeInput {
    display: flex;
    justify-content: space-between;
}

.component-CodeInput {
    .input {
        width: 40px;
        height: 40px;
        line-height: 30px;
        font-size: 20px;
        font-weight: bold;
        border: 1px solid gray;
        border-radius: 3px;
        padding: 0;
        text-align: center;
    }
}

