
.btn-detail {
  width: 100px;
  display: contents!important;
}

.verification {
  color: #6fc334!important;
  font-size: 20px;
}
.not-verification {
  color: #E91E63!important;
  font-size: 20px;
}

.waiting {
  color: #daa609!important;
  font-size: 20px;
}

.form-age {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}
.form-amount {
  position: relative!important;
  .box_setting {
    position: absolute!important;
    right: 5px!important;
    top: 5px!important;
  }
}