.faq-page {
  .faq_header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      margin-right: 20px;
    }
  }

  table {
    .box-action {
      display: flex;
      flex-direction: column;
    }
  }
}