.box-header {
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #6B6F82;
}

.title {
    padding: 0;
    color: #6B6F82;
}

.transactions-table-th {
    padding: 0 15px;
    font-weight: 500;
    color: #6B6F82;
}

.coin-system {
    width: 27px;
    height: 27px;
    object-fit: cover;
    color: #6B6F82;
    margin: 5px 0px;
}

.action {
    .fa {
        margin: 0 5px;
        font-size: 16px;
        cursor: pointer;
        color: #1890FF;
    }
}

.ant-row {
    align-items: center!important;
    display: flex!important;
}
