.box-side-bar {
    .sub-menu {
        display: block !important;
        height: 0;
        overflow: hidden;
        transition: height 0.4s;

        a {
            color: #616161 !important;
        }
    }

    li.open > a{
        background: #dae9f6;
    }

    .active-menu-child {
        margin: 5px 20px;
    }

    li {
        margin: 5px 0;
    }
}

.text-mail {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 55%;
    display: block;
}

.flag-item {
    height: 100%;
    display: flex!important;
    justify-content: flex-start!important;
    align-items: center!important;
}

.absolute {
    position: absolute !important;
}